#block{
    width: 100%;
}

body{
    background-image: url(../images/bg.png);
    background-size: auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#instructions{
    /* background-color: gray; */
    font-size: 50px;
    font-family: 'Brush Script MT', 'Brush Script Std', cursive;
    margin-top: 25px;
    padding-right: 25px;
    padding-left: 25px;
    text-shadow: 5px 5px 8px white
    /* line-height: 10px; */
    /* margin-bottom: 50px; */
}

#storyProgress {
    /* background-color: gray; */
    font-size: 20px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-shadow: 5px 5px 8px red;
    text-align: center;
    margin-top: 25px;
    height: 200px;
    padding-right: 100px;
    padding-left: 100px;
    /* line-height: 10px; */
    /* margin-bottom: 50px; */
}

#storyBoard {
    text-align: center;
}

.carousel{
    /* overflow: visible !important */
    margin-top: -100px;
    perspective: none !important;
    height: 500px !important;
}

.card {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
    background-color: transparent !important;
}

.card-title{
    position: relative;
    margin-top: -90px;
    /* background-image: url(../images/redbg.png); */
}

.card-attribute {
    /* background-color: red; */
    font-family: 'Arial Black';
    font-weight: bolder;
    font-style: italic;
    color: gold;
    text-shadow: 5px 5px 8px red 
}

.card-attribute-arena {
    font-family: 'Arial Black';
    font-weight: bolder;
    font-style: italic;
    font-size: 50px;
    color: gold;
    text-shadow: 5px 5px 8px red 
}

.arena {
    background-color: transparent !important;
}

.character {
    max-height: 40%;
}

#fightButton {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}